@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

main {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calculator-section, .quotation-section {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.calculator-section {
    min-width: 300px;
}

.quotation-section {
    min-width: 350px;
}

h2 {
    color: #2C3E50;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #2980b9;
}

button.calculate-btn {
    background-color: #2980b9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.calculate-btn:hover {
    background-color: #21618C;
}
.quotation-details {
    padding: 1rem 0;
}

.quotation-details p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.quotation-details span {
    color: #2980b9;
    font-weight: bold;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .calculator-section, .quotation-section {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}